.centered {
	width: 93%;
	color:#fff;
	position: absolute;
	top: 80%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.centered h3{
	margin-bottom: 0;
}

.centered p{
	margin-bottom: 0;
}

.sitio{
	border-color: #fff;	
	margin-bottom: 0;
}

.sinpadding [class*="col-"] {
    padding: 0;
}
li{
	color: #ffffff;
	margin-left: 5px;
}
li a{
	color: #ffffff; 
	text-decoration: none;
	font-size: 9px;
}
li a:hover{
	color: #ffffff; 
	text-decoration: none;
}
#buscar{
	background-color: #4990df;
	text-align:left;
	color: #ffffff;
	font: 10px "Arial";
	border: 2px solid #4990df;
	border-radius: 40px 0 0 40px;
}
#buscarButton{
	color:#ffffff;
	font: 10px "Arial";
	border:1px solid #4990df;
	background-color: #4990df;
}
.menuSuperior{
	display:inline-block;
    color:#fff;
    margin-bottom:0
}
.menuSuperior li{
	padding:0 5px;
	color:#fff;
}
#menuVertical{
	margin-top: 10%;
	display: block-inline;
	text-align: center;
}
.todasCategorias{
	background-color: #E9E9E9;
}
#categorias{
	background-color: #E9E9E9;
	height: 40px;
	width: 50%;
	text-align: justify;
	color: black;
	font-family: Arial;
	font-size: 10px;
}
#categorias:hover{
	border-left: solid 4px;
	border-left-color: #7CA1FF;
	transform: scale(1.05);
}
.ofertas{
	margin-top: 2%;
	text-align: center;
}
.ofertas img{
	padding-top: 4%;
	height: 230px;
	width: 75%;
}
.ofertas #no img{
	height: auto;
	width: 100%;
}
.productos{
	margin-top: 2%;
}
.todosProductos{
	padding-top: 2%;
}
.ultimos{
	width: 100%;
	padding-top: 15px;
}
.ultimos button{
	height: 20px;
	width: 20px;
	opacity: 0.3;
	text-align: right;
	font-size: 10px;
}
.ultimos button:hover{
	color: #ffffff;
	border-color: #1360A2;
	background-color: #1360A2;
	opacity: 1.0;
}
.footer{
	margin-top: 2%;
	width: 100%;
}
.footer .imagen{
	padding-left: 0%;
	width: 100%;
}
.informacion{
	background-color: #1C1C1C;
	color:#6B6B6B;
	width: 100%;
}
.informacion li, img, p{
	padding-top: 15px;
}
.informacion button{
	font:8px "Arial";
	margin-bottom: 15px;
}
.informacion p{
	font:10px "Arial";
}
.informacion a li{
	font:8px "Arial";
	color:#6B6B6B; 
	text-decoration: none;
}
.informacion a li:hover{
	color:#0397E4;
}
.empresas{
	text-align: right;
	vertical-align: middle;
	background-color:#000000;
	width: 100%;
}
.empresas img{
	height: 35px;
}
.somos{
	margin-top: 20px;
	text-align: center;
}
.somos h2{
	font: bold 25px 'FjallaOneRegular';
}
.somos p, li{
	text-align: justify;
	font-size: 12px;
	color:#000000;
}
.somos h4{
	font-family: "FjallaOneRegular";
	font-size: 18px;
	color:;
}

textarea.message{
    height:150px!important
}

.form-contacto {
	font-size: 13px;
    font-weight: 400;
    color: #555;
}

.contact-info{
	font-size: 12px;
    color: #666;
}
.contact-info img{
	width: 100%;
}

.contact-i{
    display:inline-block;
    height:30px;
    width:30px;
    text-align:center;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;
    color:#fff;
    margin-right:16px;
    float:left
}
.contact-i i{
    padding-top:8px;
    font-size:14px
}

.contact-info .contact-i{
    background-color:#3498db
}

.button-contactanos{
	padding-top: 14px;
}

.button-contactanos a{
	background-color: #a8a8a8;
	border-color:#a8a8a8;;
}
.imagenesDetalle{
	display: inline-block;
}
.imagenesDetalle img{
	height:100px;
}

.barra-navegacional li{
	color: #fff;
}

.nombreSeccion{
    font-size: 20px;
    border-bottom-style: solid;    
    border-bottom-width: 1px;
    border-bottom-color: #bcbcbc;  
    padding-top: 10px;
    padding-left: 8px;
}


/*Estilos para los Productos*/

.name-producto{
	font-size: 14px; font-weight:500; letter-spacing: 0.5px; line-height:13px; font-family: FjallaOneRegular;padding: 0;
}

.link-name-producto{
	color: #555;
}

.price-producto{
	font-size: 14px; font-weight:600; 
	letter-spacing: 1px; 
	/*color: #3498db; */
	color:#0056b3;
	font-family: 'FjallaOneRegular';
	padding: 0;
}

.price-span{
	font-weight: 700;font-size: 16px;line-height: 30px;margin-right: 8px;
}

.mas-detalles{
	color:#6c757d
}

.table-cart{
	font-family: Roboto,sans-serif;
	color:#555555;
}

.table-cart th{
	text-align: center;
    padding: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
}

.table-cart tbody td {	
	border: none;	
	vertical-align: middle;
	text-align: center;
}

.table-cart tbody {	
	/*border: 1px #000000 solid;		*/
	border: 1px solid #dee2e6;

}

.tablas-compras{
	color:#555555;
}

.tablas-compras label{
	padding-top: 7px;
	margin-bottom: 7px;	
    font-size: 19px;
}

.div-total label{
	color:#1d6ca1;
}

.tablas-detalles{
	font-size: 13px;
    color: #666;
    font-weight: 400;
    margin-bottom: 0;
}

.cantidadPedido{
	background: #FFF;
    border: 1px solid #d8d8d8;
    box-sizing: border-box;
    font-size: 15px;
    height: 35px;            
    width: 70px;
}